body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*,
*::after, 
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COLORS*/
.WHITE{
    color: #FFFFFF;
}
.BLACK{
    color: #000000;
}
.BLUE{
    color: #315EFF;
}
.LIGHTBLUE{
    color: #7391FA;
}
.GREY{
    color: #464646;
}
.LIGHTGREY{
    color: #CECECE;
}

/*FONTS*/
.MONTSERRAT{
    font-family: 'Montserrat', sans-serif;
}
.ESTEBAN{
    font-family: 'Esteban', serif;
}
.MAITREE{
    font-family: 'Maitree', serif;
}
.BUTTONSIZE{
    font-size: 18px;
}
h1{
    font-weight: 300;
    font-size: 45px;
}
h2{
    font-weight: 300;
    font-size: 30px;
}
h3{
    font-weight: 300;
    font-size: 16px;
}
span{
    font-weight: 300;
    font-size: 12px;
}
p{
    font-weight: 300;
    font-size: 14px;
}

/*ANIMATIONS*/
.SMALLBUTTON:hover{
    transform: scale(110%);
    box-shadow: 0px 10px 52px -15px rgba(97, 171, 255, 1);
    opacity: 1;
}
.BIGBUTTON:hover{
    transform: scale(110%);
    box-sizing: 0px 10px 52px -15px rgba(97, 171, 255, 1);
    opacity: 1;
}

/*Fixed Var*/
.horizontal-list{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.SMALLBUTTON{
    padding: 0.55rem;
    padding-inline: 3.5rem;
    background-color: #315EFF;
    border-radius: 40px;
    border: none;
    opacity: 0.85;
}
.BIGBUTTON{
    padding: 1.10rem;
    padding-inline: 4rem;
    background-color: #315EFF;
    border-radius: 40px;
    border: none;
    opacity: 0.85;
}
.FULLWIDTH{
    width: 100%;
}
.TEXTCENTER{
    text-align: center;
}


/*CONTAINERS*/
.container{
    width: 85%;
    margin-inline: auto;
}

/*NAVBAR*/
.navbar{
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: black;
    border-bottom: #315EFF solid 2px;
    z-index: 2;
}
.nav-container{
    height: inherit;
    width: 85%;
    margin-inline: auto;
    justify-content: space-between;
    display: flex;
}
.nav-item{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-ul{
    height: 100%;
    gap: 2rem;
}
.mobile-menu-container{
    display: none;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}
.mobile-menu{
    width: 32px;
    height: 32px;
}
.mobile-menu-exit{
    display: none;
    width: 32px;
    height: 32px;
}
.mobile-dropbar{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: #000000;
    border-bottom: 2px solid #315EFF;
}
.mobile-nav-ul{
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/*HERO PAGE*/
.hero-video-container{
    width: 100%;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
}
.hero-video{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.hero-container{
    position: relative;
}
.hero-text-container{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 5rem;
    backdrop-filter: blur(4);
}
.hero-text{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    background: -webkit-linear-gradient(#000000, #315EFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*CONTACT PAGE*/
.contact-bg {
    background-image: url(".././public/contact-page-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 1.8rem;
    padding-bottom: 9rem;
}
.title-container{
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.contacts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 60%;
    margin-inline: auto;
}
.contact-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contact-card{
    display: flex;
    align-items: center;
    gap: 0.35rem;
}
.contact-card-text{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.form-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.small-form{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 45%;
}
.big-form{
    width: 100%;
}
.small-text-input{
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    text-align: center;
}
.big-text-input{
    border: none;
    height: 140px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
}
.privacy-policy{
    display: flex;
    width: 100%;
}

/*FIRST PAGE*/
.first-page-bg{
    background-image: url(".././public/first-page.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.first-page-title{
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 5rem;
    width: 100%;
}
.first-page-text-card-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.first-page-text-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1rem;
}
.first-page-slogan-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 6rem;
}
.first-page-slogan-image-container{
    display: flex;
    justify-content: center;
}
.first-page-slogan-text-container{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 3rem;
}
.first-page-slogan-text{
    font-size: 20px;
}
/*SECOND PAGE*/
.second-page-bg{
    background-image: url(".././public/second-page.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.second-page-grid{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
    row-gap: 1rem;
    padding-bottom: 5rem;
    padding-top: 4rem;
}
.video-container{
    height: 300px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #464646;
}

/*THIRD PAGE*/
.third-page-bg{
    background-image: url(".././public/third-page.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 12rem;
    padding-bottom: 8rem;
}
.third-page-bg-blur{
    background-color: rgba(0, 0, 0, 0.366);
    padding-top: 8rem;
    padding-bottom: 7.5rem;
}
.third-page-card-container{
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    gap: 2rem;
}
.third-page-card{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 18%;
}
.third-page-card-img{
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 900px) {
    .mobile-menu-container{
        display: flex;
    }
    .nav-ul{
        display: none;
    }
    .first-page-slogan-container{
        flex-direction: column;
    }
    .first-page-slogan-image{
        width: 400px;
        object-fit: contain;
    }
    .contact-container{
        flex-direction: column;
        gap: 1rem;
    }
    .second-page-grid{
        grid-template-columns: repeat(2, 48%);
    }
    .video-container{
        height: 200px;
    }
    .third-page-card-container{
        flex-wrap: wrap;
        align-items: center;
    }
    .third-page-card{
        width: 40%;
    }
}