body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

*,
*::after, 
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COLORS*/
.WHITE{
    color: #FFFFFF;
}
.BLACK{
    color: #000000;
}
.BLUE{
    color: #315EFF;
}
.LIGHTBLUE{
    color: #7391FA;
}
.GREY{
    color: #464646;
}
.LIGHTGREY{
    color: #CECECE;
}

/*FONTS*/
.MONTSERRAT{
    font-family: 'Montserrat', sans-serif;
}
.ESTEBAN{
    font-family: 'Esteban', serif;
}
.MAITREE{
    font-family: 'Maitree', serif;
}
.BUTTONSIZE{
    font-size: 18px;
}
h1{
    font-weight: 300;
    font-size: 45px;
}
h2{
    font-weight: 300;
    font-size: 30px;
}
span{
    font-weight: 300;
    font-size: 12px;
}
p{
    font-weight: 300;
    font-size: 14px;
}

/*Fixed Var*/
.horizontal-list{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.SMALLBUTTON{
    padding: 0.55rem;
    padding-inline: 3.5rem;
    background-color: #315EFF;
    border-radius: 20px;
    border: none;
}
.FULLWIDTH{
    width: 100%;
}

/*CONTAINERS*/
.container{
    width: 85%;
    margin-inline: auto;
}

/*NAVBAR*/
.navbar{
    width: 100%;
    height: 4rem;
    background-color: black;
    border-bottom: #315EFF solid 2px;
}
.nav-container{
    height: inherit;
    width: 85%;
    margin-inline: auto;
    justify-content: space-between;
    display: flex;
}
.nav-item{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-ul{
    height: 100%;
    gap: 2rem;
}

/*CONTACT PAGE*/
.contact-bg {
    background-image: url("./contact-page-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 1.8rem;
    padding-bottom: 9rem;
}
.title-container{
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.contacts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 60%;
    margin-inline: auto;
}
.contact-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contact-card{
    display: flex;
    align-items: center;
    gap: 0.35rem;
}
.contact-card-text{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.form-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.small-form{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 45%;
}
.big-form{
    width: 100%;
}
.small-text-input{
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    text-align: center;
}
.big-text-input{
    border: none;
    height: 90px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
}
.privacy-policy{
    display: flex;
    width: 100%;
}
